        <section id="edit-container">
            <div class="edit-container-info">
                <h1>Edit Announcement</h1>
                <form  method="POST">
                    <label>Name:</label>
                    <input type="text" id="name" name="name" value="{{name}}">
                    <label>Image:</label>
                    <input type="text" id="image" name="image" value="{{image}}">
                    <label>Price:</label>
                    <input type="number" id="price" name="price" value="{{price}}">
                    <label>Description:</label>
                    <textarea name="description"
                        id="description">{{description}}</textarea>
                    <label>Payment method:</label>
                    <select id="payment" name="method">
                        <option value="crypto-wallet" {{#if method1}}selected{{/if}}>Crypto Wallet</option>
                        <option value="credit-card" {{#if method2}}selected{{/if}}>Credit Card</option>
                        <option value="debit-card" {{#if method3}}selected{{/if}}>Debit Card</option>
                        <option value="paypal" {{#if method4}}selected{{/if}}>PayPal</option>
                    </select>
                    <input type="submit" id="btn" value="EDIT"></input>
                </form>
            </div>
        </section>
 